---
eleventyExcludeFromCollections: true
layout: base.njk
permalink: /404.html
title: 404!
---

<div class="content page pt-4">
    We could not fetch that page and Swarley is disappointed.<br /><br />
    <img src="/assets/images/404.png" alt="What a surprise that we messed up!" />
</div>
