---
layout: base.njk
---

<div class="content post border-solid border-b-1 border-gray-700 pb-6">
  	<h1>{{ title }}</h1>
  	<div class="mb-12 flex text-sm font-light dark:font-extralight">
		<div class="flex">
        	{{ date | readableDate }} - {{ endDate | readableDate }}
		</div>
	</div>
	{% if image %}
	<img src="{{ image }}" alt="{{ imageAlt }}" />
	{% endif %}
  	{{ content | safe }}
</div>
